.inputWindow {
  margin: 0;
  justify-content: center;
  align-items: center;
}

.addFile {
  font-size: 25px;

  height: 100%;
  padding: 0;
  color: rgb(115, 115, 130);
  // color:white;
  display: flex;
  align-items: center;
  justify-content: end;
  svg {
    cursor: pointer;
  }
}

.inputChat {
  background: transparent;
  // background:red;
  border: 1px solid rgb(43, 32, 57);
  border-radius: 7px;
  color: white;
  width: 100%;
  height: 3em;
  align-items: center;
  padding: 0.5em;
}

.sendButton {
    font-size: 28px;

  height: 100%;
  padding: 0;
  color: rgb(109, 49, 255);
  
  display: flex;
  align-items: center;
  justify-content: start;
  button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    &:active {
       /* Придумать стиль для нажатия */
      }
  }
  
}
