.container {
  // background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Raleway", sans-serif;
}

.appWindow {
  color: white;
  width: 80vw;
  height: 70vh;
  border: 1px solid black;
  border-radius: 20px;
  background: linear-gradient(
    45deg,
    rgb(23, 19, 40),
    rgb(24, 20, 44),
    rgb(18, 14, 23)
  );
}
.appWindow__Container {
  margin: 0;
  height: 100%;
}

.menu {
  height: 100%;
  width: 3em;
  border-right: 1px solid rgb(43, 32, 57);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuIcon {
  margin-bottom: 1em;
  font-size: 30px;
  color: white;
  cursor: pointer;
  transition: 1s;
  &:hover{
    transform: scale(1.2); 
  }
}


.header {
  margin: 0;
  width: 100%;
  height: 10%;
  border-bottom: 1px solid rgb(43, 32, 57);
}

.logo {
  font-size: 30px;
  display: flex;
  //  text-align: center;
  align-items: center;
  justify-content: center;
  h3 {
    margin: 0;
    margin-left: 1rem;
  }
}
.chat {
  margin: 0;
  height: 90%;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom:1px solid rgb(43, 32, 57);
  height: 4em;
  svg{
    font-size: 35px;
    margin-right: 0.3em;
  }
  h4 {
    font-size: 20px;
    
  }
  img {

    width: 40px;
    height: 40px;
    border-radius: 25%;
    margin-right: 1em;
    object-fit: cover;
  }
  Button{
    margin-left: auto;
  }
}

.membersList {
  border-right: 1px solid rgb(43, 32, 57);
}
