.OutMessage{
    margin-top: 2em;
    display: flex;
    // margin-left: auto;

    color:white;
    img{
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 25%;
  
    }
    .textMessage{
       
        margin-left: auto;
        font-size: 16px;
        margin-right: 0.5em;
        
       
        
        p{
            
            border-radius:10px;
            background:rgb(77,56,162);
            // border:1px solid rgb(77,56,162);
            margin: 0;
            padding: 0.5em;
        }
        
    }
}